.site-head {
  &__site-name {
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
    &:nth-of-type(2):before {
      content: '#{$emoji}';
      font-size: 3rem;
      opacity: 0.8;
    }
  }
}
